body{
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(246, 240, 240);
    font-family: 'Exo', sans-serif;
    background-image: url(../img/house.png);
}
img{
    width: 100%;
    display: block;
}
/* credit card */

.credit-card{
    width: 350px;
    height: 200px;
    background-color: rgb(53, 53, 243, 0.8);
    padding: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    border: 3px solid rgb(222, 116, 10);
}
.animation{
    position: relative;
    overflow: hidden;
    height: 100%;
    border: 1px solid rgb(220, 116, 6);
    padding: 0px 20px;
}


/* class ticket */
.card-contain{
    text-align: center;
  
}

/* animation */

.credit-card{
    animation: animation-y 1s alternate infinite ;
}
@keyframes animation-y{
    0%{
        top: 50%;
        left: 50%;
    }
    100%{
        top: 49%;
        left:50%;  
    }
}
.animation::before{
    content: '';
    display: block;
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 100%;
    box-shadow:  0px 0px 50px 10px rgba(231, 230, 225, 0.1) inset;
    top: 1rem;
    left: 50%;
}
.card-margin::before{
    content: '';
    display: block;
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 100%;
    box-shadow:  50px 50px 50px 50px rgba(255, 255, 253, 0.1) inset;
    top: -200%;
    left: 45%;
}
.card-margin::after{
    content: '';
    display: block;
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    box-shadow:  50px 50px 50px 50px rgba(255, 255, 255, 0.1) inset;
    top: -50%;
    left: -30%;
}